<%-include('./layouts/head.ejs')%>

<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href=""><img src="/user/images/logo-removebg-preview.png" class="mr-2" alt="logo"/></a>
        <p class="font-weight-light small-text mb-0 text-muted">
          WoodQ
        </p>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
            
     </li>
     <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="icon-menu"></span>
    </button> 
      </div>
    </nav>



    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
     
        
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Order</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
           <li class="nav-item"> <a class="nav-link" href="">Order</a></li>
                <li class="nav-item"> <a class="nav-link" href=""></a></li>
              </ul>
              
            </div>
           
      </nav>
      
      <div class="container">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <h3 class="font-weight-bold">Order Management</h3>
        </div><br>
          <div class="row">
              <div class="col-md-12">
               
                  
                  <div class="gv">
                  <%if(findData!=null){%>
                      <table id="example" class="table table-striped table-bordered grid" style="width:100%">
                          <thead>
                              <tr>
                                <th>#OrderId</th>
                                  <th>Name</th>
                                  <th>DiscountPrice</th>
                                  <th>Payment Method</th>
                                  <th>Order Date</th>
                                  <th>Order Status</th>
                                  <th>OrderDetails</th>
                  
                              </tr>
                          </thead>
                          <tbody>
  
            <%findData.forEach((data)=>{%>
      
                              <tr>
                               <% let date = data.orderDate %>
                               <% const formt = new Date(date ); %>
                               <% const todate = formt.toLocaleDateString(); %>
                                <td><%=data._id%></td>
                                <td><%=data.name%></td>
                                <td><%=data.totalPrice%></td>
                                <td><%=data.paymentMethod%></td>
                                <td><%= todate %></td>
                               
                           <td>
                            <a href="/admin/OrderDetails?id=<%=data._id%>&userId=<%=data.userId%>" class="btn btn-secondary">OrderDetails</a>
                           </td>
                           <td>
                               
                            <select name="order_status" id="data<%=data._id%>" >
                                <%if(data.orderStatus !== 'data.orderStatus'){%>
                                <option value="<%=data.orderStatus%>" ><%=data.orderStatus%></option>
                                <%}%>
                                <%if(data.orderStatus !== 'processing'){%>
                                <option value="processing" >processing</option>
                                <%}%>
                                <%if(data.orderStatus !== 'shipped'){%>
                                <option value="shipped" >shipped</option>
                                <%}%>
                                <%if(data.orderStatus !== 'Devliverd'){%>
                                <option value="Devliverd" >Devliverd</option>
                                 <%}%>
                              <%if(data.orderStatus !== 'cancelled'){%>
                               <option value="cancelled" >cancelled</option>
                                <%}%>
                                   <%if(data.orderStatus !== 'refunded Pending'){%>
                                    <option value="refunded Pending" >refunded Pending</option>
                                      <%}%>
                            </select>
                            <input type="text" name="OrderId" value="<%=data._id%>" hidden>
                  
                            <div id="updte<%=data._id%>">
                              <button class="btn btn-primary" onclick="update('<%=data._id%>')">Update</button>
                            </div>
                          
                          
                         
                        </td>
                              </tr>
                     
                          </tbody>
                          <%})%>
                         
                      </table>
                      <%}%>
                  </div>
              </div>
              
          </div>
      </div>
      


<%-include('./layouts/footer.ejs')%>