<%-include('./layouts/head.ejs')%>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href=""><img src="/user/images/logo-removebg-preview.png" class="mr-2" alt="logo"/></a>
        <p class="font-weight-light small-text mb-0 text-muted">
          WoodQ
        </p>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <a class="nav-link" href="/admin/export"> <button type="button" class="btn btn-outline-primary">EXPORT PDF</button> </a>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button> 
       
          
      </div>
    </nav>



    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
     
        
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Reports </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
           <li class="nav-item"> <a class="nav-link" href="">Sales Reports </a></li>
                <li class="nav-item"> <a class="nav-link" href=""></a></li>
              </ul>
              
            </div>
           
      </nav>
      
      <div class="container">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <h3 class="font-weight-bold">Sales Reports</h3>
        </div><br>
          <div class="row">
              <div class="col-md-12">
               
                 
                  <div class="gv">
                    <%if(salestatus != null){%>
                    <table class="table">
                        <thead>
                          <tr>
                            
                            <th scope="col">order Id</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Order Status</th>
                            <th scope="col">Payment Status</th>
                            <th scope="col">Total Unit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%salestatus.forEach((data)=>{%>
                            <% let date = data.orderDate %>
                            <% const formt = new Date(date ); %>
                            <% const todate = formt.toLocaleDateString(); %>
                     
                          <tr>
                            
                            <td>#<%=data._id%></td>
                            <td><%=todate%></td>
                            <td>
                              <span class="badge badge-pill badge-success"><%=data.orderStatus%></span>
                            </td>
                            <td><%=data.paymentMethod%></td>
                            <td>$<%=data.totalPrice%></td>
                          </tr>
                          <%})%>
                        </tbody>
                      </table>
                      <%}%>
                  </div>
              </div>
              
          </div>
      </div>
      


 


<%-include('./layouts/footer.ejs')%>