<%-include('./layouts/carthead.ejs')%>

<div class="untree_co-section before-footer-section">
<div class="container">
  <div class="row mb-5">
    <form class="col-md-12" method="post">
      <div class="site-blocks-table">


  <%if(cartlist!= null){ %>
    <%if(len == 0){%>
        <h2>YOUR CART IS EMPTY</h2>
    
    <%}else{%>
      <table class="table">
        <thead>
          <tr>
            <th class="product-thumbnail">Image</th>
            <th class="product-name">Product</th>
            <th class="product-price">Price</th>
            <th class="product-quantity">Quantity</th>
            <th class="product-total">Total</th>
            <th class="product-remove">Remove</th>
          </tr>
        </thead>
        <%cartlist.forEach(function(cart){%>
        <tbody>
          <tr>
            <td class="product-thumbnail">
              <img src="/admin/productImage/<%=cart.carts.image[0]%>" alt="Image" class="img-fluid">
            </td>
            <td class="product-name">
              <h2 class="h5 text-black"> <%=cart.carts.productName%></h2>
            </td>
            <td>$<%=cart.carts.salePrice%></td>
            <td>
              <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
              <%if(cart.qtyItems == 1){%>
                <div class="input-group-prepend">
                  <button class="btn btn-outline-black " hidden type="button"   onclick="change('<%=cart.productId%>','<%=cart._id%>',-1)" >-</button>
                </div>
              <%} else {%>
                
                  <button class="btn btn-outline-black  " type="button"   onclick="change('<%=cart.productId%>','<%=cart._id%>',-1)" >-</button>
                  <% }%>
            
                <input type="text" class="form-control text-center quantity-amount" id="qty" value="<%=cart.qtyItems%>" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                <div class="input-group-append">
                  <button class="btn btn-outline-black " type="button"  onclick="change('<%=cart.productId%>','<%=cart._id%>',1)"  >+</button>
                </div>
              </div>
  
            </td>
            <td>$<%=cart.TotalPrice%></td>
            <td><a href="/delete-cart?id=<%=cart.productId%>&<%=cart._id%>" class="btn btn-black btn-sm  " ><i class="fa-solid fa-trash"></i></a></td>
           
          </tr>
          <% }) %>
          <% } %>
        </tbody>
      </table>
      <%}%>
  
   
  
  
  </div> 
</form>
</div>

<div class="row">
<div class="col-md-6">
  <div class="row mb-5">
    <!-- <div class="col-md-6 mb-3 mb-md-0">
      <button class="btn btn-black btn-sm btn-block">Update Cart</button>
    </div> -->
    <div class="col-md-6">
      <a href="/shop">  <button class="btn btn-outline-black btn-sm btn-block">Continue Shopping</button></a>
    
    </div>
  </div>
  
</div>

<%if(len == 0){%>
<div class="col-md-6 pl-5" hidden>
  <div class="row justify-content-end">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12 text-right border-bottom mb-5">
          <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <span class="text-black">Total Items</span>
        </div>
        <div class="col-md-6 text-right">
          <strong class="text-black"><%=len%></strong>
        </div>
      </div>
     
      <div class="row mb-5">
        <div class="col-md-6">
          <span class="text-black">Total</span>
        </div>
        <div class="col-md-6 text-right" >
          <strong class="text-black">$ <%=subtotal%></strong>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <a href="/payment"> <button class="btn btn-black btn-lg py-3 btn-block "  >Proceed To Checkout</button></a>

        </div>
      </div>
    </div>
  </div>

  
</div>
<%}else{%>

  <div class="col-md-6 pl-5">
    <div class="row justify-content-end">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-12 text-right border-bottom mb-5">
            <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
          </div>
        </div>
  
        <div class="row mb-3">
          <div class="col-md-6">
            <span class="text-black">Total Items</span>
          </div>
          <div class="col-md-6 text-right">
            <strong class="text-black"><%=len%></strong>
          </div>
        </div>
       
        <div class="row mb-5">
          <div class="col-md-6">
            <span class="text-black">Total</span>
          </div>
          <div class="col-md-6 text-right">
            <strong class="text-black">$ <%=subtotal%></strong>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <a href="/payment"> <button class="btn btn-black btn-lg py-3 btn-block" >Proceed To Checkout</button></a>
  
          </div>
        </div>
      </div>
    </div>
  
    
  </div>


<%}%>

</div>

</div>
</div>
<%-include('./layouts/footer.ejs')%>
