<%-include('./layouts/shophead.ejs')%>

  <div class="untree_co-section">
    <div class="container">
         <form method="post" action="/order_place">
      <div class="row">
        <!-- order_place -->
        <div class="col-md-6 mb-5 mb-md-0">
          <h2 class="h3 mb-3  ">Shipping Details</h2>
          <div class="p-3 p-lg-5 border bg-white">
            <%if(defaultset!= ''){%>
              <%defaultset.forEach(function(set){%>
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <h3 class="card-title">Billing Address</h3>
                      </div>
                      </p><span style="font-weight:bold">
                        <%=set.address.FirstName%>
                        <input hidden  value="<%=set.address.FirstName%>" name="firstName">
                      </span>
                      <span style="font-weight:bold">
                        <%=set.address.LastName%>
                        <input hidden  value="<%=set.address.LastName%>" name="lastName">
                      </span> <br>
                      <span style="font-weight:bold">
                        <%=set.address.Address%>
                        <input hidden  value="<%=set.address.Address%>" name="address">
                      </span>
                      <span style="font-weight:bold">
                        <%=set.address.State%>
                        <input hidden  value="<%=set.address.State%>" name="state">
                      </span>
                      <span style="font-weight:bold">
                        <%=set.address.postCode%>
                        <input hidden  value="<%=set.address.postCode%>" name="PostCode">
                      </span><br>
                      <span style="font-weight:bold">
                        <%=set.address.Email%>
                        <input hidden  value="<%=set.address.Email%>" name="email">
                      </span>,
                      <span style="font-weight:bold">
                        <%=set.address.phone%>
                        <input hidden  value=" <%=set.address.phone%>" name="Phone">
                      </span>
                    </div>
                    <!-- Button trigger modal -->
                    <div class="d-flex justify-content-between">
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Set Default <i class="fa-solid fa-plus"></i>
                      </button>
                      <a href="/profile"><i class="fa-sharp fa-solid fa-user-plus"></i></a>
                    </div>
                  </div>
                </div>
                <%})%>
                  <%}else{%>
                    <a class="btn btn-primary " href="/profile"> Add Address <i
                        class="fa-sharp fa-solid fa-user-plus"></i></a>
                    <%}%>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3">Coupon Code</h2>
              <div class="p-3 p-lg-5 border bg-white">
                <label for="c_code" class=" mb-3">Enter your coupon code if you have one</label><br>
                <span id="invalid" style="color: brown;"></span>
                <div class="input-group w-75 couponcode-wrap">
                  
                  <input type="text" class="form-control me-2" id="code"  placeholder="Coupon Code"
                    aria-label="Coupon Code" name="coupon" aria-describedby="button-addon2">
                   <input hidden id="couponId" value="" name="couponId">
                
                    <div class="input-group-append">
                      <button class="btn btn-primary btn-sm" type="button"  onclick="Addcoupon('<%=subtotal%>')">Apply</button>
                    </div>
            
                 
                  
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Your Order</h2>
              <div class="p-3 p-lg-5 border bg-white">
                <table class="table site-block-order-table mb-5">
                  <thead>
                    <th>Product</th>
                    <th>Total</th>
                  </thead>
                  <tbody>
                    <%if(detailss!= null){%>
                      <%detailss.forEach(function(set){%>
                        <tr>
                          <td> <strong class="mx-2">
                              <%=set.carts.productName%>
                            </strong>X <%=set.qtyItems%>
                          </td>
                          <td>$<%=set.TotalPrice%>
                          </td>
                        </tr>
                        <%})%>
                          <%}%>
                            <tr>
                              <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                           
                              <td class="text-black">$<%=subtotal%>
                                <input hidden name="Total"  value="<%=subtotal%>">
                              </td>
                            </tr>
                            <tr>
                              <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                              <td
                               class="text-black font-weight-bold">$<span id="total"><%=subtotal%></span>
                               <input hidden name="discountPrice" id="distPrice" value="">
                              </td>

                            </tr>
                  </tbody>
                </table>
                <div class="border p-3 mb-3">
                  <input type="radio" id="html" name="payment_method" value="COD">
                <label for="html"><b>Cash on Devliverd</b></label><br>
                <input type="radio" id="html" name="payment_method" value="online pay ">
                <label for="html"><i class="fa-brands fa-cc-paypal" style="color: black; font-size: larger;"></i> <b>PayPal</b></label><br>
                </div>
                <%if(defaultset == ''){%>
                <div class="form-group">
                  <button class="btn btn-black btn-lg py-3 btn-block disabled" value="submit" type="submit" >Place
                    Order</button>
                </div>
                <%}else{%>
                  <div class="form-group">
                    <button class="btn btn-black btn-lg py-3 btn-block" value="submit" type="submit" >Place
                      Order</button>
                  </div>
                  <%}%>
              </div>
              
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%if(Address!= null){%>
          <form method="post" action="/payment">
            <%Address.forEach(function(add,i){%>

              <div class="modal-body">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="address" value="<%=add._id%>"
                    id="flexRadioDefault<%=i%>">
                  <label class="form-check-label" for="flexRadioDefault<%=i%>">
                    <div class="card">
                      <div class="card-body">
                        <p>
                          <%=add.FirstName%>
                            <%=add.LastName%> </br>
                              <%=add.Address%>, <%=add.State%>, <%=add.postCode%> </br>
                                    <%=add.Email%>
                                      <%=add.phone%>
                        </p>
                      </div>
                    </div>
                  </label>
                </div>

              </div>
              <%})%>

                <% } %>
                  <div class="modal-footer">
                    <button type="button" class="btn-sm" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn-sm">Select</button>
                  </div>
          </form>
      </div>
    </div>
  </div>

  <%-include('./layouts/footer.ejs')%>