<%-include('./layouts/profilehead.ejs')%>

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">My Account<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
                            </li>
                            
                            
                          
                            <li class="nav-item">
                                <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-Order" role="tab" aria-controls="tab-downloads" aria-selected="false">Order</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-show" role="tab" aria-controls="tab-address" aria-selected="false">Show Address</a>
                            </li>
                           
                                <a class="nav-link" href="/signout">Sign Out</a>
                            </li>
                        </ul>
                    </aside>

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                         

                            <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                <p>No order has been made yet.</p>
                                <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                                
                            </div><!-- .End .tab-pane -->

                            
                            <div class="tab-pane fade" id="tab-show" role="tabpanel" aria-labelledby="tab-address-link">
                                <div class="col-md-6 mb-5 mb-md-0">
                                    <h2 class="h3 mb-3  ">Shipping Details</h2>
                          
                                    <div class="p-3 p-lg-5 border bg-white ">
                                
                                      
                                        <%if(show!= null){%>
                                            <%show.forEach(function(data){%>
                                            <div class="card mt-2 " style="width: 100%;">
                                              <div class="card-body">
                                                <div class="card-body">
                                                  <div class="d-flex justify-content-between" >
                                                    <h3 class="card-title">Billing Address</h3>
                                                    <a href="/adddelete?id=<%=data._id%>" ><i class="fa-solid fa-trash mt-1"></i></a>
                                                  </div>
                              
                                               <p style="font-weight:bold">
                                                <%=data.FirstName%> <%=data.LastName%> </br> <%=data.address%> ,<%=data.State%>,<%=data.Code%>,</br><%=data.Email%> </br><%=data.phone%>
                                               </p>
                                        <div class="d-flex justify-content-between">
                        
                                            <a href="/editAdd?id=<%=data._id%>"><i class="fa-regular fa-pen-to-square"></i></a>
                                            <%if(data.primary==false){%>
                                                <a href="/setdefault?id=<%=data._id%>" style="text-decoration: none;" > Set Default </a>
                    
                                          <%}%>
                                         
                                        </div>
                                         
                                          
                                          
                                          
                                        </p>
                                            </div>
                                             
                                              </div>
                                            </div>
                                            <% }) %>
                                            <% } %>
                                        
                          
                                    </div>
                                  </div>

                            </div>
                            <div class="tab-pane fade" id="tab-Order" role="tabpanel" aria-labelledby="tab-address-link">
                                <%if(order_list != null){%>
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">#Order Date</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Delivery Date</th>
                                        <th scope="col">Payment Method</th>
                                        <th scope="col">Order Status</th>
                                        <th scope="col">Action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <%order_list.forEach((data)=>{%>
                                        <% let date = data.orderDate %>
                                        <% const formt = new Date(date ); %>
                                        <% const todate = formt.toLocaleDateString(); %>
                                    
                                      <tr>
                                        <td><%=todate%></td>
                                        <td><%=data.name%></td>
                                        <td><%=data.deliveryDate%></td>
                                        <td><%=data.paymentMethod%></td>
                                        <td>
                                            <%if(data.orderStatus == "cancelled"||data.orderStatus == "refunded"){%>
                                                <span class="badge badge-pill badge-danger"><%=data.orderStatus%></span>
                                            <%}%>
                                            <%if(data.orderStatus == "Devliverd" ){%>
                                                <span class="badge badge-pill badge-primary"><%=data.orderStatus%></span>
                                            <%}%>
                                            <%if(data.orderStatus == "processing"||data.orderStatus == "shipped" ){%>
                                                <span class="badge badge-pill badge-warning"><%=data.orderStatus%></span>
                                            <%}%>

                                        </td>
                                        <td>
                                            <a href="/order_details?id=<%=data._id%>" > <i class="fa-solid fa-circle-info"></i></a><br>
                                            <a href="/cancel?id=<%=data._id%>" style="color: red;" >  Cancel</a>
                                        </td>
                                      </tr>
                                      
                                      </tr>
                                    </tbody>
                                    <%})%>
                                  </table>
                                  <%}%>
                            </div>
                            <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-address-link">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>First Name *</label>
                                            <input type="text" class="form-control" required>
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>Last Name *</label>
                                            <input type="text" class="form-control" required>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <label>Display Name *</label>
                                    <input type="text" class="form-control" required>
                                    <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

                                    <label>Email address *</label>
                                    <input type="email" class="form-control" required>

                                    <label>Current password (leave blank to leave unchanged)</label>
                                    <input type="password" class="form-control">

                                    <label>New password (leave blank to leave unchanged)</label>
                                    <input type="password" class="form-control">

                                    <label>Confirm new password</label>
                                    <input type="password" class="form-control mb-2">

                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>SAVE CHANGES</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                               

                                <!-- <p>The following addresses will be used on the checkout page by default.</p>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <h3 class="card-title">Billing Address</h3>

                                                <p>User Name<br>
                                                User Company<br>
                                                John str<br>
                                                New York, NY 10001<br>
                                                1-234-987-6543<br>
                                                yourmail@mail.com<br>
                                                <a href="#">Edit <i class="icon-edit"></i></a></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <h3 class="card-title">Shipping Address</h3>

                                                <p>You have not set up this type of address yet.<br>
                                                <a href="#">Edit <i class="icon-edit"></i></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="p-3 p-lg-5 border bg-white">
                                   <form method="post" action="/profile">
                                    <div class="form-group row">
                                      <div class="col-md-6">
                                        <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_fname" name="fname">
                                      </div>
                                      <div class="col-md-6">
                                        <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_lname" name="lname">
                                      </div>
                                    </div>
                
                                  
                                    <div class="form-group row">
                                      <div class="col-md-12">
                                        <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_address" name="address" placeholder="Street address">
                                      </div>
                                    </div>
                
                                  
                
                                    <div class="form-group row">
                                      <div class="col-md-6">
                                        <label for="c_state_country" class="text-black">State / Country <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_state_country" name="state">
                                      </div>
                                      <div class="col-md-6">
                                        <label for="c_postal_zip" class="text-black">Posta / Zip <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_postal_zip" name="post">
                                      </div>
                                    </div>
                
                                    <div class="form-group row mb-5">
                                      <div class="col-md-6">
                                        <label for="c_email_address" class="text-black">Email Address <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_email_address" name="email">
                                      </div>
                                      <div class="col-md-6">
                                        <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_phone" name="phone" placeholder="Phone Number">
                                      </div>
                                    </div>
                
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SAVE CHANGES</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                 </div>
                                </form>
                            </div>
                            
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->






<%-include('./layouts/profilefooter.ejs')%>