<%-include('./layouts/shop.ejs')%>

<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1 >Modern Interior <span clsas="d-block">Design Studio</span></h1>
                    <p>
                        <div class="dropdown d-flex justify-content-between">
                            <button class="btn dropdown-toggle btn-white-outline "type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Categorys
                            </button>
                            <!-- <form class="d-flex ">
                                
                                <input class="form-control " type="search" placeholder="Search" aria-label="Search" style="border-radius: 27px 27px 27px 27px;" >
                              
                              </form> -->
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/shop "> Show All</a></li>
                                <%catadata.forEach(function(show){ %>
                              <li><a class="dropdown-item" href="/shop?id=<%=show._id%>"><%=show.category%></a></li>
                              
                              <% }) %>
                            </ul>
                           
                          </div>
                       
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                   
                    <img src="/user/images/couch.png" class="img-fluid" style="max-width: -webkit-fill-available;">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row ">
            <div class="d-flex">
                <div >
                    <input type="text" class="form-control "  style="width: 250px; margin-top: -87px; margin-left: 7px;" placeholder="Search" id="search" onkeyup="findData()" > 
                </div>
               
                <span style="margin-top: -77px;
                font-size: 27px;
                margin-left: 5px;">
                <i class="fa fa-magnifying-glass"></i>
            </span>
            </div>

        </div>

    </div>
    
<div class="container">
    
   
      <div class="row" id="find">
        
          <!-- Start Column 1 -->
          <%if(show!= null){ %>
            <%show.forEach(function(show){ %>
               
        <div class="col-12 col-md-4 col-lg-3 mb-5" >
            
            <a class="product-item" href="/view_product/<%=show._id%>">
              
                <img src="/admin/productImage/<%=show.image[0]%>" class="img-fluid product-thumbnail"style="width: 444px;
                height: 254px;">
                 <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                <h3 class="product-title"><%=show.productName%></h3>
             
                <span class="text-muted text-decoration-line-through">$<%=show.productPrice%></span>
                <strong class="product-price"> $<%=show.salePrice%></strong>
                <span class="icon-cross">
                    <img src="/user/images/cross.svg" class="img-fluid">
                </span>
            </a>
        </div> 
        <% }) %>
        <% } %>
        
        
      </div>
</div>
</div>
<%-include('./layouts/footer.ejs')%>

