<%-include('./layouts/shoppage.ejs')%>
        <!-- Navigation-->
        
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/admin/productImage/<%=show.image%>" alt="..." /></div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder"><%=show.productName%></h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">$<%=show.productPrice%></span>
                            <span>$<%=show.salePrice%></span>
                        </div>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                        <div class="d-flex">
                            <a class="btn btn-outline-dark mt-auto flex-shrink-0 h-1 " href="addToCart/<%=show.id%>">Add to cart</a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
      
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Related products</h2>
              
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <%if(shows!= null){ %>
                        <%shows.forEach(function(show){ %>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="/admin/productImage/<%=show.image%>" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"><%=show.productName%></h5>
                                <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$<%=show.productPrice%></span>
                                    $<%=show.salePrice%>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <% }) %>
                    <% } %>
            </div>
           
        </section>
      
     <%-include('./layouts/shopfooter.ejs')%>