<%-include('./layouts/cartview.ejs')%>
        <!-- Navigation-->
        
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5 ">
                <div class="row gx-4 gx-lg-5 align-items-center ">
                    <div class="col-md-6 d-flex flex-column"  >
                        <figure id="zoomer" class="zoom  " onmousemove="zoom(event)" style=" background-image: url(/admin/productImage/<%=show.image[0]%>); width: 350px; "  >
                        <img class="card-img-top mb-5 mb-md-0  " src="/admin/productImage/<%=show.image[0]%> " style="width: 400x;" id="main-image"   alt="..." />
                        </figure>
                        <div class="img-zoom-container" style="width: 300px;" >
                            <div class="col-md-6 d-flex" style="height: 130px; width: 300px; " > 
                               
                               <img  onclick="change_image(this) " class="card-img-top mb-5 mb-md-0 d-flex img-thumbnail "  src="/admin/productImage/<%=show.image[0]%>" alt="..." />
                               <img  onclick="change_image(this)" class="card-img-top mb-5 mb-md-0 d-flex img-thumbnail"  src="/admin/productImage/<%=show.image[1]%>" alt="..." />
                               <img  onclick="change_image(this)" class="card-img-top mb-5 mb-md-0 d-flex img-thumbnail"  src="/admin/productImage/<%=show.image[2]%>" alt="..." />
                               <img  onclick="change_image(this)" class="card-img-top mb-5 mb-md-0 d-flex img-thumbnail"  src="/admin/productImage/<%=show.image[3]%>" alt="..." />
    
                                <!-- <span class="mx-2 py-2 w-25" onclick="change_image(this)"><img class="card-img-top mb-5 mb-md-0 d-flex img-thumbnail" src="/admin/productImage/<%=show.image[1]%>" alt="..." /></span>
                                <span class="mx-2 py-2 w-25" onclick="change_image(this)"><img class="card-img-top mb-5 mb-md-0 d-flex img-thumbnail" src="/admin/productImage/<%=show.image[2]%>" alt="..." /></span>
                                <span class="mx-2 py-2 w-25" onclick="change_image(this)"><img class="card-img-top mb-5 mb-md-0 d-flex img-thumbnail" src="/admin/productImage/<%=show.image[3]%>" alt="..." /></span> -->
                            </div>
                          
                          </div>
                      </div>
        
                    <div class="col-md-6 "> 
                       
                        <div class="d-flex justify-content-between">
                            <h1 class="display-5 fw-bolder"><%=show.productName%></h1>
                        <!-- <a href=""><i class="fa fa-heart fs-5 text-muted "></i></a> -->
                        <button class="heart" onclick="addTowish('<%=show._id%>')" ><i class="fa fa-heart fs-5 " style="color: rgb(176, 23, 23);"></i></button>
                        </div>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">$<%=show.productPrice%></span>
                            <span>$<%=show.salePrice%></span>
                        </div>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                        <div class="d-flex">
                            <!-- <a class="btn btn-outline-dark mt-auto flex-shrink-0 h-1 " href="addToCart/<%=show.id%>">Add to cart</a> -->
                            <button class="btn btn-outline-dark mt-auto flex-shrink-0 h-1 " onclick="addToCart('<%=show._id%>')" >Add to cart</button>
                         
                          
                        </div>
                    </div>
                  
                      
                </div>  
               
            </div>
        </section>
        <!-- Related items section-->
      
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Related products</h2>
              
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <%if(shows!= null){ %>
                        <%shows.forEach(function(show){ %>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="/admin/productImage/<%=show.image[0] %>" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"><%=show.productName%></h5>
                                <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$<%=show.productPrice%></span>
                                    $<%=show.salePrice%>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">  <button class="btn btn-outline-dark mt-auto flex-shrink-0 h-1 " onclick="addToCart('<%=show._id%>')" >Add to cart</button></div>
                                
                            </div>
                            
                        </div>
                    </div>
                    <% }) %>
                    <% } %>
            </div>
           
        </section>
      
        <script>
            function change_image(image){
            let container = document.getElementById("main-image");
            let zoomer = document.getElementById("zoomer");
            container.src = image.src;
            zoomer.style.backgroundImage = "url("+image.src+")"
        }
        document.addEventListener("DOMContentLoaded", function(event) {
        });
    function offZoom(e) {
        img.style.transformOrigin = `center center`;
        img.style.transform = "scale(1)";
    }
    function zoom(e){
      var zoomer = e.currentTarget;
      e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
      e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
      x = offsetX/zoomer.offsetWidth*100
      y = offsetY/zoomer.offsetHeight*100
      zoomer.style.backgroundPosition = x + '% ' + y + '%';
    }
        </script>
       
     <%-include('./layouts/shopfooter.ejs')%>